img {
  max-width: 100%;
  min-width: 50px;
  min-height: 50px;
  display: block;
}

footer {
  margin-bottom: 1000px;
}

/* 
.fade {
  transform: translateX(0);
  opacity: 1.0;
  transition: all 500ms;
} */