/* . = class
# = id
1. Imports
2a. General 
2b. Mobile 
3. Midsize
4. Large
5. Really Large */

/* 1. Imports

2a. General
body {
    background-color: blue;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#page-header, #page-footer {
    background-color: white;
    margin: 0;
    padding: 0;
}
2b. Mobile 

3. Midsize

4. Large
#wrapper {
    width: 90%;
    margin: 0 auto;
}
5. Really Large */
@font-face {
    font-family : 'Lora';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuxJOkq1umA.woff2) format('woff2');
    }
#one {
    border-radius: 5em;
    margin: auto;
    margin-bottom: -2em;
    padding: 2em;
}
#two {
    border-radius: 5em;
}
#three {
    width: 250px;
    height: 300px;
}
#four {
    width: 250px;
    height: 300px;
}
body{
    background-color:rgba(143, 214, 204, 0.76);
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
  }
li { float:left;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
  }
nav {
    width: 100%;
}
h1{
    font-family: 'Lora', serif;
}
h2{
    font-family: 'Lora', serif;
}
nav{
    font-family: 'Lora', serif;
} 
li{
    font-family: 'Lora', serif;
} 
p {
    font-family: 'Lora', serif;
}