@media (min-width: 32.5em) {
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img {
        border-radius: 5em;
        margin-left:3em;
    }
    #three {
        width: 250px;
        height: 300px;
    }
    #four {
        width: 250px;
        height: 300px;
    }
}
@media (min-width: 64em) {
        nav ul {
            display: flex;
        }
        nav ul li {
            flex: 1 1 100%;
        }
        img {
            border-radius: 5em;
            margin-left:3em;
        }
        #three {
            width: 250px;
            height: 300px;
        }
        #four {
            width: 250px;
            height: 300px;
        }
        
    }