/* . = class
# = id
1. Imports
2a. General 
2b. Mobile 
3. Midsize
4. Large
5. Really Large */

/* 1. Imports

2a. General
body {
    background-color: blue;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#page-header, #page-footer {
    background-color: white;
    margin: 0;
    padding: 0;
}
2b. Mobile 

3. Midsize

4. Large
#wrapper {
    width: 90%;
    margin: 0 auto;
}
5. Really Large */


body{
    background-color:rgba(83, 84, 100, 0.76);
    object-position: right;
    text-align:center;
    width:auto;
}
h1{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    color:white;
    /* fonts.google.com look for html link code then css code */
    font-family: 'Bonheur Royale', cursive;
}
p#title2{
    color:white;
    text-align:center;
    font-size:20px;
    padding:5px;
    font-family: 'Bonheur Royale', cursive;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
ul {
    list-style-type: none;
    display: inline-block;
  	text-align:left;
    margin-top:-.5em;
}
footer {
color:#FFFFFF; 
text-align:center;
}

